.adv {
  width: 100%;
  background-color: $gray;
}

.adv__container {
  margin: 0 auto;
  max-width: 1040px;
  padding: 115px 10px 45px;
}

.adv__container h2 {
  @include header(700, 49px, 49px);
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 73px;
  text-align: center;
}

.adv__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.adv__item {
  display: flex;
  justify-content: space-between;
  width: 35%;
}

.adv__area {
  max-width: 345px;
  align-self: flex-start;
  position: relative;
  padding-bottom: 73px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 350px;

  &::before {
    position: absolute;
    content: "";
    width: 340px;
    height: 2px;
    background-color: #f0c9d7;
    bottom: 0;
    left: 0;
  }

  &::after {
    position: absolute;
    content: "";
    width: 340px;
    height: 2px;
    background-color: #f0c9d7;
    bottom: 0;
    right: -695px;
  }
}

.adv__area-number {
  padding-left: 20px;
  padding-right: 27px;
}

.adv__comfort {
  max-width: 351px;
  padding-top: 75px;
}

.adv__comfort-number {
  padding-left: 20px;
}

.adv__cars {
  max-width: 340px;
}

.adv__coach {
  max-width: 340px;
  padding-top: 75px;
}

.adv__item span {
  @include fonts(400, 14px, 150%);
  display: block;
  color: #2e35ac;
}

.adv__area-text {
  width: 180px;
}

.adv__comfort-text {
  width: 192px;
}

.adv__cars-text,
.adv__coach-text {
  width: 233px;
}

.adv__item h3 {
  @include fonts(700, 22px, 22px);
  margin-top: 0;
  margin-bottom: 11px;
}

.adv__item p {
  @include fonts(300, 16px, 140%);
  margin-top: 0;
  margin-bottom: 0;
}

.eq {
  padding: 50px 34px;
  background-color: $dark-blue;
  color: $white;
  text-align: center;
  box-sizing: border-box;
  align-self: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.eq span {
  @include fonts(700, 26px, 150%);
  display: block;
}

.eq span:first-of-type {
  @include fonts(700, 74px, 80px);
}

.eq p {
  @include fonts(400, 16px, 150%);
  margin-top: 32px;
  margin-bottom: 7px;
  width: 172px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: $tablet) {
  .adv__container {
    @include inner(768px, 45px);
    padding: 97px 45px 86px;
  }

  .adv__container h2 {
    @include header(700, 42px, 42px);
    margin-bottom: 45px;
  }

  .adv__items {
    display: flex;
    justify-content: space-between;
  }

  .adv__item {
    flex-direction: row;
    justify-content: space-between;
    width: 46%;
    box-sizing: border-box;
  }

  .adv__area {
    padding-bottom: 42px;
    align-self: flex-start;
    border-bottom: none;
    position: relative;
    margin-right: 0;

    &::before,
    &::after {
      display: none;
    }
  }

  .adv__area-number {
    padding-left: 0;
  }

  .adv__comfort {
    position: relative;
    padding-top: 42px;
  }

  .adv__comfort-number {
    padding-left: 0;
  }

  .adv__cars {
    padding-bottom: 42px;
    position: relative;
  }

  .adv__coach {
    padding-top: 42px;
    position: relative;
  }

  .eq {
    width: 65%;
    margin: 0 auto;
    flex-wrap: nowrap;
    padding: 30px 20px;
    position: inherit;
    left: 0%;
    transform: translateX(-0%);
  }

  .adv__item span {
    @include fonts(400, 14px, 150%);
    display: block;
    color: #2e35ac;
  }

  .eq span {
    @include fonts(700, 22px, 150%);
  }

  .eq span:first-of-type {
    @include fonts(700, 74px, 74px);
  }

  .eq p {
    @include fonts(400, 16px, 150%);
    margin-top: 16px;
  }

  .adv__item h3 {
    @include fonts(700, 20px, 150%);
    margin-top: 0;
    margin-bottom: 3px;
  }

  .adv__item p {
    @include fonts(300, 16px, 140%);
    margin-top: 0;
    margin-bottom: 0;
  }

  .adv__area-text,
  .adv__comfort-text {
    width: 195px;
  }

  .adv__cars-text,
  .adv__coach-text {
    width: 226px;
  }
}

@media (max-width: $mobile) {
  .adv {
    min-height: 1095px;
  }

  .adv__container {
    @include inner(767px, 0);
    padding: 68px 0;
    margin: 0;
  }

  .adv__container h2 {
    @include header(700, 32px, 32px);
    margin-bottom: 50px;
  }

  .adv__items {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .adv__item {
    display: flex;
    justify-content: justify-content;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 32px;
    padding-bottom: 0;
  }

  .adv__area {
    margin-bottom: 45px;
  }

  .adv__area-number {
    padding-left: 0;
    padding-right: 0;
  }

  .adv__cars {
    max-width: 340px;
    padding-bottom: 0;
    align-self: center;
    border-bottom: none;
    position: relative;
    padding-left: 15px;
    margin-bottom: 45px;
  }

  .adv__comfort {
    margin-bottom: 45px;
  }

  .adv__coach {
    padding-left: 15px;
    padding-top: 0;
    margin-bottom: 0;
  }

  .eq {
    width: 100%;
    padding: 40px 34px 35px;
    background-color: $dark-blue;
    color: $white;
    text-align: center;
    box-sizing: border-box;
  }

  .eq span:first-of-type {
    @include fonts(700, 74px, 68px);
  }

  .eq p {
    @include fonts(400, 16px, 150%);
    margin-top: 8px;
  }
}
