.price {
  width: 100%;
  background-color: $gray;
  min-height: 851px;
  position: relative;

  &::after {
    content: url("../img/pic-desktop.png");
    width: 287px;
    height: 494px;
    position: absolute;
    z-index: 1;
    bottom: -150px;
    right: 0;
  }
}

.price__container {
  margin: 0 auto;
  max-width: 1160px;
  padding: 114px 10px 118px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 2;
}

.price__container h2 {
  @include header(700, 49px, 49px);
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 39px;
}

.price__period {
  width: 30%;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #dedfe2;
  margin-bottom: 39px;
}

.price__period-item {
  @include fonts(400, 20px, 150%);
  padding-bottom: 12px;
  color: #848fab;
  cursor: pointer;
  border-bottom: 2px solid transparent;

  &:hover {
    color: $black-blue;
    border-bottom: 2px solid #d10a42;
    padding-bottom: 10px;
  }
}

.price__period-item_active {
  color: $black-blue;
  border-bottom: 2px solid #d10a42;
  padding-bottom: 10px;
}

.price__items {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.show {
  display: flex;
}

.hide {
  display: none;
}

.price__item {
  display: flex;
  flex-direction: column;
  width: 360px;
  min-height: 360px;
  background-color: $white;
  padding-top: 53px;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  padding-bottom: 60px;
  border: 8px solid transparent;
  flex-wrap: wrap;
  margin-top: 10px;

  &:hover {
    padding-top: 53px;
    border: 8px solid transparent;
    border-image: linear-gradient(111.72deg, #ed0233 17.6%, #003eb7 95.31%);
    border-image-slice: 1;
  }
}

.price__item:last-of-type {
  margin-bottom: 0;
}

.price__item p {
  margin-bottom: 0;
  margin-top: 0;
}

.price__item h3 {
  @include fonts(700, 26px, 110.2%);
  display: block;
  margin-top: 0;
  margin-bottom: 12px;
}

.price__item span {
  @include fonts(400, 16px, 150%);
  display: block;
  margin-bottom: 65px;
}

.price__cost {
  @include fonts(700, 60px, 150%);
  color: $blue;
  display: block;
  align-items: baseline;
  justify-content: space-around;
  min-width: 166px;
  margin: 0 auto;
  margin-bottom: 35px;
  box-sizing: border-box;
  position: relative;
  z-index: 2;

  &::before {
    @include fonts(700, 100px, 90px);
    position: absolute;
    content: attr(data-price);
    display: block;
    top: -25px;
    left: -15px;
    right: -15px;
    color: #e8e8e8;
    opacity: 0.5;
    z-index: -1;
  }
}

.price__button {
  @include fonts(700, 12px, 14px);
  @include link($dark-blue);
  letter-spacing: 0.05em;
  text-decoration: none;
  padding: 24px 44px;
  outline: 2px solid $dark-blue;
  width: 206px;
  display: block;
  box-sizing: border-box;
  margin: 0 auto;
  text-transform: uppercase;

  &:hover {
    color: $white;
    background: linear-gradient(111.72deg, #ed0233 17.6%, #003eb7 95.31%);
    outline: 0;
  }
}

@media (max-width: $tablet) {
  .price {
    padding-top: 95px;
    padding-bottom: 100px;
    min-height: 1584px;

    &::after {
      content: url("../img/pic.png");
      width: 289px;
      height: 345px;
      position: absolute;
      z-index: 1;
      bottom: -25px;
      right: 60px;
    }
  }

  .price__container {
    @include inner(768px, 45px);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
  }

  .price__container h2 {
    @include header(700, 42px, 42px);
    margin-top: 0;
    margin-bottom: 35px;
  }

  .price__period {
    width: 49%;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #dedfe2;
    margin-bottom: 45px;
  }

  .price__period span {
    @include fonts(400, 18px, 150%);
    padding-bottom: 10px;
  }

  .price__items {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .show {
    display: flex;
  }

  .hide {
    display: none;
  }

  .price__item {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 442px;
    min-height: 426px;
    padding-top: 54px;
    padding-bottom: 62px;
    margin-bottom: 40px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

@media (max-width: $mobile) {
  .price {
    padding-top: 65px;
    padding-bottom: 70px;
    min-height: 1352px;

    &::after {
      display: none;
    }
  }

  .price__container {
    @include inner(767xpx, 15px);
    margin: 0;
  }

  .price__container h2 {
    @include header(700, 32px, 32px);
    margin-bottom: 23px;
    margin-top: 0;
  }

  .price__period {
    width: 290px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #dedfe2;
    margin-bottom: 33px;
  }

  .price__period span {
    @include fonts(400, 16px, 150%);
    padding-bottom: 15px;
  }

  .price__item {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 290px;
    min-height: 384px;
    padding-top: 43px;
    padding-bottom: 55px;
    margin-bottom: 27px;

    &:hover {
      padding-top: 43px;
    }
  }

  .price__item h3 {
    @include fonts(700, 22px, 110.2%);
    margin-bottom: 8px;
  }

  .price__item span {
    margin-bottom: 55px;
  }

  .price__cost {
    @include fonts(700, 48px, 150%);
    margin-bottom: 32px;
  }

  .price__cost svg {
    width: 24px;
    height: 33px;
  }
}
