.stock {
  width: 100%;
}

.stock__container {
  margin: 0 auto;
  max-width: 1160px;
  padding: 112px 10px 60px;
}

.stock__container h2 {
  @include header(700, 49px, 49px);
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 58px;
}

.stock__content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.stock__main {
  display: flex;
  width: 50%;
}

.stock__wrapper {
  width: 48%;
  padding: 38px 43px 52px 45px;
  background-color: $orange;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stock__text span {
  @include fonts(700, 28px, 32px);
  display: block;
  color: $white;

  &:last-of-type {
    @include fonts(700, 70px, 70px);
    margin-bottom: 20px;
  }
}

.stock__text p {
  @include fonts(400, 18px, 140%);
  color: $white;
  margin-top: 0;
  margin-bottom: 0;
}

.stock__main-button {
  @include link($white);
  @include fonts(700, 14px, 16px);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border-bottom: 1px solid $white;
  align-self: flex-start;

  &:hover {
    color: $dark-blue;
    border-bottom: 1px solid $dark-blue;
  }
}

.stock__main picture {
  min-height: 462px;
}

.stock__main img {
  height: 100%;
}

.stock__other {
  width: 48.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.stock__other-item {
  min-height: 211px;
  padding: 23px 30px 29px;
  border: 7px solid $white;
  border-image: linear-gradient(170deg, #d10a42, #00359f);
  border-image-slice: 1;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 40px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.stock__other-text h3 {
  @include fonts(700, 26px, 26px);
  margin-top: 0;
  margin-bottom: 10px;
  color: $dark-blue;
}

.stock__other-text p {
  @include fonts(400, 16px, 140%);
  color: $dark-blue;
  margin-top: 0;
  margin-bottom: 0;
}

.stock__other-button {
  @include link($dark-blue);
  @include fonts(700, 12px, 14px);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  align-self: flex-start;
  border-bottom: 1px solid $dark-blue;

  &:hover {
    color: $orange;
    border-bottom: 1px solid $orange;
  }
}

@media (max-width: $tablet) {
  .stock__container {
    @include inner(768px, 45px);
    padding-top: 93px;
    padding-bottom: 50px;
  }

  .stock__container h2 {
    @include header(700, 42px, 42px);
    margin-top: 0;
    margin-bottom: 45px;
  }

  .stock__content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .stock__main {
    width: 100%;
    margin-bottom: 30px;
  }

  .stock__wrapper {
    width: 41.5%;
    padding: 38px 43px 45px 45px;
  }

  .stock__main picture {
    flex-grow: 1;
    min-height: 462px;
  }

  .stock__main img {
    width: 100%;
    height: 100%;
  }

  .stock__other {
    width: 100%;
    flex-direction: row;
  }

  .stock__other-item {
    width: 48%;
    margin-bottom: 0;

    &:first-of-type {
      padding-right: 55px;
    }
  }

  .stock__other-text h3 {
    margin-bottom: 12px;
  }
}

@media (max-width: $mobile) {
  .stock__container {
    @include inner(320px, 15px);
    margin: 0 auto;
    padding-top: 77px;
    padding-bottom: 35px;
  }

  .stock__container h2 {
    @include header(700, 32px, 32px);
    margin-top: 0;
    margin-bottom: 47px;
  }

  .stock__main {
    width: 100%;
    margin-bottom: 30px;
    flex-direction: column;
  }

  .stock__wrapper {
    width: 100%;
    padding: 40px 51px 45px;
    text-align: center;
    min-height: 299px;
  }

  .stock__text span:last-of-type {
    margin-bottom: 15px;
  }

  .stock__text p {
    width: 189px;
    margin: 0 auto;
  }

  .stock__main-button {
    margin: 0 auto;
  }

  .stock__main picture {
    flex-grow: 0;
    min-height: inherit;
    height: 299px;
  }

  .stock__main img {
    width: 100%;
    height: 100%;
  }

  .stock__other {
    flex-direction: column;
  }

  .stock__other-item {
    width: 100%;
    padding: 35px 42px 40px;
    margin-bottom: 30px;
    text-align: center;

    &:first-of-type {
      padding-right: 42px;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .stock__other-text h3 {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .stock__other-button {
    margin-left: auto;
    margin-right: auto;
  }
}
